.usa-pagination {
	.usa-pagination__arrow {
		font-family: $source-sans;
		color: $opm-blue;
		font-size: 1rem;
		font-style: normal;
		font-weight: 700;
		line-height: 1rem;

		.usa-pagination__link {
			color: $opm-blue;
		}

		.usa-pagination__previous-page {
			margin-right: 8rem;
			font-weight: 700;
			&:focus {
				outline: none !important;
				box-shadow: 0px 0px 4px 4px $opm-bold-blue;
			}
		}
		.usa-pagination__next-page {
			margin-left: 8rem;
			font-weight: 700;
			&:focus {
				outline: none !important;
				box-shadow: 0px 0px 4px 4px $opm-bold-blue;
			}
		}
	}

	.usa-icon {
		width: 24px;
		height: 24px;
	}

	.usa-pagination__page-no {
		.usa-pagination__button {
			font-family: $source-sans;
			color: $opm-blue;
			font-size: 1rem;
			font-style: normal;
			font-weight: 700;
			line-height: 1rem;
			&.usa-current {
				background-color: $opm-blue;
				color: $white;
				&:focus {
					outline: none !important;
					box-shadow: 0px 0px 0px 3px $white,
						0px 0px 4px 6px $opm-bold-blue;
				}
			}
			&:focus {
				outline: none !important;
				box-shadow: 0px 0px 4px 4px $opm-bold-blue;
			}
		}
	}

	&.usa-pagination-condensed {
		.usa-pagination__previous-page {
			margin-right: 0px;
		}
		.usa-pagination__next-page {
			margin-left: 0px;
		}
	}
}
