.usa-tag {
	padding: 2px 8px;
	text-align: center;
	border-radius: 10px;
	font-family: $source-sans;
	color: $white;
	font-size: 1rem;
	font-style: normal;
	font-weight: 700;
	line-height: 1rem;
	text-transform: none;
}
