.usa-tooltip__body {
	background-color: $opm-blue;
	padding: 8px;
	font-family: $source-sans;
	color: $white;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: 1rem;

	&--top {
		&:after {
			border-top: 5px solid $opm-blue;
		}
	}

	&--bottom {
		&:after {
			border-bottom: 5px solid $opm-blue;
		}
	}

	&--right {
		&:after {
			border-right: 5px solid $opm-blue;
		}
	}

	&--left {
		&:after {
			border-left: 5px solid $opm-blue;
		}
	}
}
