.usa-alert {
  border-left: none;
  border-radius: 10px;
  &.usa-alert--info {
    background-color: $info-light;
    h4 {
      color: $info-dark;
    }
    &:before {
      background: url(../img/usa-icons/info-opm.svg) no-repeat center/contain;
    }
  }
  &.usa-alert--warning {
    background-color: $warning-light;
    h4 {
      color: $warning-dark;
    }
    &:before {
      background: url(../img/usa-icons/warning-opm.svg) no-repeat center/contain;
    }
  }
  &.usa-alert--error {
    background-color: $error-light;
    h4 {
      color: $error-dark;
    }
    &:before {
      background: url(../img/usa-icons/error-opm.svg) no-repeat center/contain;
    }
  }
  &.usa-alert--success {
    background-color: $success-light;
    h4 {
      color: $success-dark;
    }
    &:before {
      background: url(../img/usa-icons/check_circle-opm.svg) no-repeat center/contain;
    }
  }
  &.usa-alert--suspension {
    background-color: $ltgray;
    h4 {
      color: $ink;
    }
    &:before {
      background: url(../img/usa-icons/check_circle-opm.svg) no-repeat center/contain;
      background: url(/themes/custom/opm/assets/img/usa-icons/info.svg) no-repeat center/contain;
      width: 2rem;
      content: "";
      display: block;
      height: 3.5rem;
      left: 0.9166666667rem;
      position: absolute;
      top: 0;
      background: 0 0;
      background-color: $ink;
      -webkit-mask: url(/themes/custom/opm/assets/img/usa-icons/info.svg) no-repeat center/contain;
      mask: url(/themes/custom/opm/assets/img/usa-icons/info.svg) no-repeat center/contain;
    }
    .usa-alert__body {
      padding-left: 3.8333333334rem;
    }
  }
  &.opm-sitewide {
    border-radius: 0;
  }
}
