.usa-modal {
  max-width: 44rem;

  &__heading {
    font-family: $source-sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1rem auto;
    max-width: 75%;
  }

  &__main {
    text-align: center;
  }

  .usa-button {
    &.usa-modal__close {
      padding:0;
      margin-bottom: 0;
      background-color: unset;
      background-image: url(../img/usa-icons/close.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: 35px;
      width: 35px;
      &.usa-focus, &:not([disabled]):focus {
        outline: 0;
        box-shadow: 0 0 4px 6px #005999;
      }
    }
  }

  .usa-button-group__item {
    margin: 0.5rem;
  }
}
