.usa-table {
  thead {
    th {
      background-color: $info-light;
      border-bottom: 2px solid $black;
    }
  }
  &.usa-table--striped {
    tbody {
      tr {
        &:nth-child(odd) {
          td,th {
            background-color: $white;
          }
        }
        &:nth-child(even) {
          td,th {
            background-color: $info-light;
          }
        }
      }
    }
  }
}